<!-- Footer Start -->
 <style>
  footer{
    background-color: black;
  }
 </style>
 <hr>
<footer class="mt-5">
    <div class="container-fluid bg-black text-black pt-5 pb-4">
      <div class="container">
        <div class="row gx-5">
          <!-- Contact Info -->
          <div class="col-lg-4 col-md-6 mb-4">
            <h4 class="text-white mb-4">Get In Touch</h4>
            <div class="d-flex align-items-start mb-2">
              <i class="bi bi-geo-alt text-black me-2"></i>
              <p class="mb-0">Ratnagirl  Near Petrol Pump Bhopal  Madhya pardesh 462022</p>
            </div>
            <div class="d-flex align-items-start mb-2">
              <i class="bi bi-envelope-open text-black me-2"></i>
              <p class="mb-0">freshgroce777@gmail.com</p>
            </div>
            <div class="d-flex align-items-start mb-2">
              <i class="bi bi-telephone text-black me-2"></i>
              <p class="mb-0">+91 77710 40074</p>
            </div>
            <div class="d-flex mt-3">
              <!-- <a class="btn btn-outline-light btn-sm rounded-circle me-2" href="#"><i class="fab fa-twitter"></i></a> -->
              <a class="btn btn-outline-light btn-sm rounded-circle me-2" href="https://api.whatsapp.com/message/3RWAPDYUP3OLL1?autoload=1&app_absent=0"><i class="fa-brands fa-whatsapp"></i></i></a>
              <a class="btn btn-outline-light btn-sm rounded-circle me-2" href="#"><i class="fa-brands fa-facebook"></i></a>
              <a class="btn btn-outline-light btn-sm rounded-circle me-2" href="https://www.instagram.com/freshgroce/"><i class="fab fa-instagram"></i></a>
            </div>
          </div>
  
          <!-- Popular Links -->
          <div class="col-lg-4 col-md-6 mb-4">
            <h4 class="text-white mb-4">Popular Links</h4>
            <ul class="list-unstyled">
              <li class="mb-2"><a class="text-black text-decoration-none" href="/"><i class="bi bi-arrow-right me-2"></i>Home</a></li>
              <li class="mb-2"><a class="text-black text-decoration-none" href="/about"><i class="bi bi-arrow-right me-2"></i>About Us</a></li>
              <li class="mb-2"><a class="text-black text-decoration-none" href="/shop"><i class="bi bi-arrow-right me-2"></i>Our Services</a></li>
              <!-- <li class="mb-2"><a class="text-black text-decoration-none" href="#"><i class="bi bi-arrow-right me-2"></i>Meet The Team</a></li> -->
              <!-- <li class="mb-2"><a class="text-black text-decoration-none" href="#"><i class="bi bi-arrow-right me-2"></i>Latest Blog</a></li> -->
              <li><a class="text-black text-decoration-none" href="/contact"><i class="bi bi-arrow-right me-2"></i>Contact Us</a></li>
            </ul>
          </div>
  
          <!-- Newsletter -->
          <div class="col-lg-4 col-md-12 mb-4">
            <h4 class="text-white mb-4">Newsletter</h4>
            <p>Subscribe to our newsletter for fresh updates and offers.</p>
            <form class="d-flex">
              <input type="email" class="form-control me-2" placeholder="Your Email">
              <button class="btn btn-light" type="submit">Subscribe</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  
    <!-- Bottom Bar -->
    <div class="container-fluid bg-black text-black py-3">
      <div class="container text-center">
        <small>
          &copy; <a class="text-secondary fw-bold text-decoration-none" href="/">freshgroce</a>. All Rights Reserved.
        </small>
      </div>
    </div>
  </footer>
  <!-- Footer End -->
  