
<% layout("/INCLUDE/boilerplate")%> 
<!-- <div class="bg-leaf"></div> -->
    <div class="login-container">
        <form class="login-form" onsubmit="return validateLogin()" method="POST" action="/login">
            <div class="logo"><img src="logo.png" alt="logo" width="110" height="110"></div>
            <h2><b>Welcome to FreshGroce</b></h2>
            <p>Please login to continue</p>
            <input type="text" id="username" placeholder="Username"  name="username" required>
            <input type="password" id="password" placeholder="Password" name="password" required>
            <button type="submit">Login</button>
            <p class="signup-link">Don't have an account? <a href="/sign">Sign Up</a></p>
        </form>
    </div>
  
